-i https://pypi.org/simple
colorgram.py==1.2.0
flake8==6.0.0
mccabe==0.7.0 ; python_version >= '3.6'
pillow==9.4.0 ; python_version >= '3.7'
pycodestyle==2.10.0 ; python_version >= '3.6'
pyflakes==3.0.1 ; python_version >= '3.6'
